{% extends 'Pages/base.html' %}

{% block content %}
 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">IBACySCHOOL</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Organigramme</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                
                
                    <h2>POPULATION PAR CLASSE</h2>
                    <canvas id="bar2Chart"></canvas>
                    
                    <script>
                        // Récupérer les données depuis le contexte de rendu
                        var bar2Labels = {{ bar2_labels|safe }};
                        var bar2Data = {{ bar2_data|safe }};
                        
                        // Bar Chart
                        var bar2Config = {
                            type: 'bar',
                            data: {
                                labels: bar2Labels,
                                datasets: [
                                    {
                                        label: 'Nombre auditeur',
                                        data: bar2Data,
                                        backgroundColor: '#36A2EB' // Couleur des barres pour le nombre de dossiers financiers
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                    
                        var bar2Chart = new Chart(document.getElementById('bar2Chart'), bar2Config);
                    </script>
                    
                

            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">POPULATION DES ENSEIGNANTS PAR SEXE</h4>

 
                <div  id="pie-chart">
                    <canvas id="genderChartens"></canvas>
                </div>
                
                <script>
                    // Récupérez les données sur le genre des étudiants depuis votre vue Django
                    var maleCountens = {{ male_countens }};
                    var femaleCountens = {{ female_countens }};
                
                    // Créez un tableau avec les données du genre et le nombre
                    var genderDataens = [maleCountens, femaleCountens];
                    var genderLabelsens = [
                        'Hommes (' + maleCountens + ')',
                        'Femmes (' + femaleCountens + ')'
                    ];
                
                    // Créez le graphique en utilisant Chart.js
                    var genderChartens = new Chart(document.getElementById('genderChartens'), {
                        type: 'doughnut',
                        data: {
                            labels: genderLabelsens,
                            datasets: [{
                                data: genderDataens,
                                backgroundColor: ['#9966FF', '#33CCCC'], // Couleurs pour les segments du donut
                                borderWidth: 0
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false, // Permet de définir la taille du graphique
                            aspectRatio: 0.8 // Définissez la proportion largeur/hauteur du graphique (ajustez cette valeur selon vos besoins)
                        }
                    });
                </script>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">POPULATION PAR ÉCOLE</h4>

                

                <div id="donut-chart">
                    
                
                <!-- Dans votre template tableau_de_bord.html -->
                <canvas id="etudiantsParEcoleChart"></canvas>
                </div>

                <script>
                    // Obtenez les données sur les écoles et le nombre d'étudiants depuis votre vue Django
                    var ecoles = {{ ecoles|safe }};
                    var nombreEtudiants = {{ nombre_etudiants|safe }};

                    // Créez le graphique en utilisant Chart.js
                    var etudiantsParEcoleChart = new Chart(document.getElementById('etudiantsParEcoleChart'), {
                        type: 'bar',
                        data: {
                            labels: ecoles,
                            datasets: [{
                                label: 'Nombre d\'étudiants',
                                data: nombreEtudiants,
                                backgroundColor: 'rgba(75, 192, 192, 0.8)', // Couleur de fond des barres
                                borderWidth: 0
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false, // Permet de définir la taille du graphique
                            scales: {
                                y: {
                                    beginAtZero: true, // Commence à zéro sur l'axe des Y
                                    precision: 0 // Pas de décimales sur l'axe des Y
                                }
                            }
                        }
                    });
                </script>


            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">POPULATION DES ÉTUDIANTS PAR SEXE</h4>


                <div  id="pie-chart">
                    <canvas id="genderChart"></canvas>
                </div>
                
                <script>
                    // Récupérez les données sur le genre des étudiants depuis votre vue Django
                    var maleCount = {{ male_count }};
                    var femaleCount = {{ female_count }};
                
                    // Créez un tableau avec les données du genre et le nombre
                    var genderData = [maleCount, femaleCount];
                    var genderLabels = [
                        'Hommes (' + maleCount + ')',
                        'Femmes (' + femaleCount + ')'
                    ];
                
                    // Créez le graphique en utilisant Chart.js
                    var genderChart = new Chart(document.getElementById('genderChart'), {
                        type: 'doughnut',
                        data: {
                            labels: genderLabels,
                            datasets: [{
                                data: genderData,
                                backgroundColor: ['#FF6384', '#36A2EB'], // Couleurs pour les segments du donut
                                borderWidth: 0
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false, // Permet de définir la taille du graphique
                            aspectRatio: 0.8 // Définissez la proportion largeur/hauteur du graphique (ajustez cette valeur selon vos besoins)
                        }
                    });
                </script>
                
                

            </div>
        </div>
    </div> <!-- end col -->
</div> 
<!-- end row -->

</div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock content %}