{% extends 'Pages/base.html' %}

{% block content %}
 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">EDU_CMA</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'ecoleliste' %}">Institutions</a></li>
                    <li class="breadcrumb-item active">Modification</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Formulaire de modification</h4>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                          
                        <div class="form-group">
                          <div class="row">                
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Nature institution</label>
                                    {{ form.Natureecole }}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="mb-3">
                                    <label for="formrow-password-input" class="form-label">Nom institution</label>
                                    {{ form.Etablissement }}
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mb-3">
                                  <label for="formrow-password-input" class="form-label">Ville</label>
                                  {{ form.Ville }}
                              </div>
                            </div>
                          </div>

                          <div class="row">                
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Adresse</label>
                                    {{ form.Adresse }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-password-input" class="form-label">Téléphone</label>
                                    {{ form.Telephone }}
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="mb-3">
                                  <label for="formrow-password-input" class="form-label">Contact</label>
                                  {{ form.Contact }}
                              </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="resume" class="form-label">Logo</label>
                                    {{ form.image }}
                                </div>
                            </div>
                         </div>


                        </div>

                        <div class="mt-4 hstack gap-2" >
                            <button type="submit" class="btn btn-soft-success w-100">Modifier</button>
                            <a class="btn btn-soft-primary w-100" href="{% url 'ecoleliste' %}">retour</a>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}