{% extends 'Pages/base.html' %}

{% block content %}
 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">EDU_CMA</h4>
  
            <div class="page-title-right"> 
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'anneescolaireliste' %}">Année scolaires</a></li>
                    <li class="breadcrumb-item active">Liste</li>
                </ol>
            </div>
  
        </div>
    </div>
  </div>
  <!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Formulaire de validation</h4>
 
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                          
                        <div class="form-group">
                          <div class="row">                
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Statut</label>
                                    {{ form.Statutannee }}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label for="formrow-password-input" class="form-label">Année Scolaire</label>
                                    {{ form.Anneescolaire }}
                                </div>
                            </div>
                            
                          </div>

                        </div>

                        
                        <div class="mt-4 hstack gap-2" >
                            <button type="submit" class="btn btn-soft-success w-100">Valider</button>
                            <a class="btn btn-soft-primary w-100" href="{% url 'anneescolaireliste' %}">Retour en Arrière</a>
                          </div>
                    </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}